{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PASCASARJANA</title>
</head>
<body>
    <h1>PASCASARJANA</h1>
    <p>Tersedia Jurusan :</p>
    <ul>
        <li>Doktor Pendidikan</li>
        <li>Doktor Ilmu Akuntansi</li>
        <li>Magister Ilmu Hukum</li>
        <li>Magister Ilmu Pertanian</li>
        <li>Magister Administrasi Publik</li>
        <li>Magister Akuntansi</li>
        <li>Magister Ilmu Komunikasi</li>
        <li>Magister Manajemen</li>
        <li>Magister Teknik Kimia</li>
        <li>Pendidikan Bahasa Indonesia</li>
        <li>Pendidikan Bahasa Inggris</li>
        <li>Pendidikan Matematika</li>
        <li>Teknologi Pendidikan</li>
    </ul>
</body>
</html>
{% endblock %}