<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FKIP</title>
</head>
<body>
    <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    <p>Tersedia Jurusan :</p>
    <ul>
        <li>Pendidikan Matematika</li>
        <li>Pendidikan Biologi</li>
        <li>Pendidikan Fisika</li>
        <li>Pendidikan Bahasa Indonesia</li>
        <li>Pendidikan Sejarah</li>
        <li>Pendidikan Nonformal</li>
        <li>Pendidikan Bahasa Inggris</li>
        <li>Pendidikan Guru Sekolah Dasar</li>
        <li>Pendidikan Guru Paud</li>
        <li>Bimbingan dan Konseling </li>
        <li>Pendidikan Ilmu Pengetahuan Alam</li>
        <li>Pendidikan Kimia</li>
        <li>Pendidikan Khusus</li>
        <li>Pendidikan Pancasila dan Kewarganegaraan</li>
        <li>Pendidikan Seni dan Pertunjukan</li>
        <li>Pendidikan Sosiologi</li>
        <li>Pendidikan Vokasional Teknik Elektro</li>
        <li>Pendidikan Vokasional Teknik Mesin</li>
    </ul>
</body>
</html>