<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">UNTIRTA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-list"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-list"><a class="nav-link" href="/faperta">FAPERTA</a></li>
            <li class="nav-list"><a class="nav-link" href="/feb">FEB</a></li>
            <li class="nav-list"><a class="nav-link" href="/fh">FH</a></li>
            <li class="nav-list"><a class="nav-link" href="/fk">FK</a></li>
            <li class="nav-list"><a class="nav-link" href="/fkip">FKIP</a></li>
            <li class="nav-list"><a class="nav-link" href="/fisip">FISIP</a></li>
            <li class="nav-list"><a class="nav-link" href="/pascasarjana">PASCASARJANA</a></li>
        </ul>
        <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>

<!-- <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/faperta">FAPERTA</a></li>
        <li><a href="/feb">FEB</a></li>
        <li><a href="/fh">FH</a></li>
        <li><a href="/fk">FK</a></li>
        <li><a href="/fkip">FKIP</a></li>
        <li><a href="/fisip">FISIP</a></li>
        <li><a href="/pascasarjana">PASCASARJANA</a></li>
    </ul>
</nav> -->