<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEB</title>
</head>
<body>
    <h1>FAKULTAS EKONOMI DAN BISNIS</h1>
    <p>Tersedia Jurusan :</p>
    <ul>
        <li>Managemen</li>
        <li>Akuntansi</li>
        <li>Ekonomi Pembangunan</li>
        <li>Ekonomi Syariah</li>
        <li>Diploma 3 Marketing</li>
        <li>Diploma 3 Akutansi</li>
        <li>Diploma 3 Perpajakan</li>
        <li>Diploma 3 Keuangan Perbankan</li>
    </ul>
</body>
</html>