{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FK</title>
</head>
<body>
    <h1>FAKULTAS KEDOKTERAN</h1>
    <p>Tersedia Jurusan :</p>
    <ul>
        <li>Kedokteran</li>
        <li>Ilmu Gizi</li>
        <li>Keperawatan S1</li>
        <li>Diploma 3 Keperawatan</li>
        <li>Ilmu Keolahragaan</li>
    </ul>
</body>
</html>
{% endblock %}