{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FT</title>
</head>
<body>
    <h1>FAKULTAS TEKNIK</h1>
    <p>Tersedia Jurusan :</p>
    <ul>
        <li>Teknik Elektro</li>
        <li>Teknik Industri</li>
        <li>Teknik Kimia</li>
        <li>Teknik Mesin</li>
        <li>Teknik Metalurgi</li>
        <li>Teknik Sipil</li>
    </ul>
</body>
</html>
{% endblock %}